<div class="container pt-3">
   <table class="table table-primary">
      <thead>
         <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Producto</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{ nombre | uppercase }}</td>
         </tr>
         <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{ nombre | lowercase }}</td>
         </tr>
         <tr>
            <td>{{nombre}}</td>
            <td>slice:5</td>
            <td>{{ nombre | slice:5 }}</td>
         </tr>
         <tr>
            <td>{{nombre}}</td>
            <td>slice:0:4</td>
            <td>{{ nombre | slice:0:4 }}</td>
         </tr>
         <tr>
            <td>{{arreglo}}</td>
            <td>slice:1:5</td>
            <td>{{ arreglo | slice:1:5 }}</td>
         </tr>
         <tr>
            <td>{{PI}}</td>
            <td>number:'1.0-3'</td>
            <td>{{ PI | number:'1.0-3' }}</td>
         </tr>
         <tr>
            <td>{{a}}</td>
            <td>percent</td>
            <td>{{ a | percent }}</td>
         </tr>
         <tr>
            <td>{{a}}</td>
            <td>percent:'2.2-2'</td>
            <td>{{ a | percent:'2.2-2' }}</td>
         </tr>
         <tr>
            <td>{{salario}}</td>
            <td>currency</td>
            <td>{{ salario | currency }}</td>
         </tr>
         <tr>
            <td>{{salario}}</td>
            <td>currency:'CAD'</td>
            <td>{{ salario | currency:'CAD' }}</td>
         </tr>
         <tr>
            <td>{{salario}}</td>
            <td>currency:'EUR':true:'4.0-0'</td>
            <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
         </tr>
         <tr>
            <td>{{valorDePromesa}}</td>
            <td>async</td>
            <td>{{ valorDePromesa | async }}</td>
         </tr>
      </tbody>
   </table>

   <div class="text-light">
      <h5>Slice:3:7 para ngFor</h5>
      <ul>
         <li *ngFor="let item of arreglo | slice:3:7">{{item}}</li>
      </ul>

      <h5>JSON</h5>
      <pre class="text-light">
         {{ heroe | json }}
      </pre>
   </div>

</div>
